## to-do:

Create a Centered Div with a Border Radius of 30px.
A Mobile is 767px. So

## Mobile Pill

For Media Max Width is 767px: do the following kind of things

Take 300px for the Main Div we call 'borderpill'
With in each DIV, 300/4= 75px for innerdiv we call 'innerpill1/2/3/4'
Position is centered within each innerpill for 'innerpilllogo' which goes to /assets/test.svg
which is via JavaScript either Active 1 or active 0 and for Active1 it changes the color of the SVG within the innerpilllogo1/2/3/4'.
The Logo shall be sized 30 pixels by 30 pixels.
The Text in global.css shall be defined as 12px.

The Borderpill must have a Z-index of 3.

There shall be padding of 10px in the 'borderpilldiv'

Colors to be used:
#e70052
#171c18
#ffffff

This page describes /schedule/index.html (myx codename)

Add a DIV called 'schedulefake' which has an image that goes to /assets/schedulefake.png
In the exact middle of image where the things are centered, create a Square button with 3px shadow and 3px blur 
with the text "View my Schedule"

An iFrame must pop up and the User must be prompted that the Site must be able to use Cookies
and to not be hindered by a freeze. The iFrame must be able to continue navigating on its own.

There should be a button named 'Add to Calender' which Invokes
the Media Capture API, and somehow pass on the Screenshot as a
base64 image, and store it in temporary non-persistent storage as possible.

This page describes /schedule/misc.html
There shall be a DIV named 'collapsibles'. Ensure they respect the padding of /styles/global.css
of globalleft and globalright in px. Within the div name 
'dropdowns'. Each Dropdown is defined as as a squarish form. 
There is text in there. The Text has padding of textleft found in global.css

This page describes /misc/services.html


<div class="



"></div>